{% extends 'base.html' %}
{% block content %}
<div class="container mt-3">
  <h2>Movie Petitions</h2>
  <a href="{% url 'petitions.create' %}" class="btn btn-dark mb-3">Create Petition</a>
  {% for p in petitions %}
    <div class="card mb-3">
      <div class="card-body">
        <h5>{{ p.title }}</h5>
        <p>{{ p.description }}</p>
        <p><b>Yes Votes:</b> {{ p.yes_votes }}</p>
        {% if user.is_authenticated %}
          <a href="{% url 'petitions.vote' p.id %}" class="btn btn-success">Vote Yes</a>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
